#content {
white-space: pre-line;
background:var(--bg1);
width:90vw;
margin:auto;
padding:10px;
margin-top:20px;
border-radius:1vw;
}

img {
max-width:70%;
min-width:20%;
}

video {
width:50%;
}

audio {
width: 50%;
}

spoiler {
cursor:pointer;
display:inline-block;
background:var(--bg2);
border-radius:1em;
}

spoiler.hidden {
background:var(--bg3);
color:var(--bg3);
user-select:none;
}
