#content {
white-space: pre-line;
background:var(--bg1);
width:90vw;
margin:auto;
padding:10px;
margin-top:20px;
border-radius:1vw;
}

img {
max-width:70%;
min-width:20%;
}

video {
width:50%;
}

audio {
width: 50%;
}

spoiler {
cursor:pointer;
display:inline-block;
background:var(--bg2);
border-radius:1em;
}

spoiler.hidden {
background:var(--bg3);
color:var(--bg3);
user-select:none;
}

spoiler.hidden img {
opacity:0;
}

code {
background:var(--bg2);
display:inline-block;
padding:2px;
border:1px solid var(--bg4);
}

#topicons {
font-size:30px;
text-align:left;
margin-left: 10px;
margin-top: 10px;
margin-bottom: -10px;
}

#bottomicons {
font-size:30px;
}

#topicons a:link, #topicons a:visited, #bottomicons a:link, #bottomicons a:visited {
color:var(--red);
}


#content a:link, #content a:visited{
color:var(--aqua);
}

#content a:hover {
color:var(--bright-aqua);
}
