body {
    background:var(--bg);
    text-align:center;
    color:var(--fg);
    overflow-x:hidden;
    font-family:Arial, sans-serif;
}

a {
    text-decoration:none;
}

hr {
border: 2px solid var(--bg3);
margin: -10px -10px 20px;
margin-top:20px;
}

#topicons {
font-size:30px;
text-align:left;
margin-left: 10px;
margin-top: 10px;
margin-bottom: -10px;
}

#bottomicons {
font-size:30px;
}

#topicons a:link, #topicons a:visited, #bottomicons a:link, #bottomicons a:visited {
color:var(--red);
}

#topicons a:hover, #bottomicons a:hover {
color:var(--bright-red);
}
