a:link, a:visited {
    color:var(--fg1);
    transition: all .2s ease-in-out;
}

a:hover {
    color:var(--fg);
}

.button {
    background:var(--bg2);
    display:inline-block;
    padding:7px;
    margin:10px;
    border-radius:12px;
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.2);
}

code {
  background:var(--bg2);
  color:var(--fg1);
  padding:2px;
  border:1px solid var(--bg3);
}

#title a:link, #title a:visited {
color:var(--red);
}

#title a:hover {
color:var(--bright-red);
}
