a:link, a:visited {
    color:var(--fg1);
    transition: all .2s ease-in-out;
}

a:hover {
    color:var(--fg);
}

.button {
    background:var(--bg2);
    display:inline-block;
    padding:7px;
    margin:10px;
    border-radius:12px;
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.2);
}
